.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.navbar-logo-fixes {
    width: 43px;
    height: auto;
}

/* Yatay kaydırma çubuğu stilleri */
::-webkit-scrollbar {
    height: 12px; /* Kaydırma çubuğu yüksekliği */
}

/* Kaydırma çubuğunun arka plan rengi */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Kaydırma çubuğu arka plan rengi */
}

/* Kaydırma çubuğunun gölge rengi */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Kaydırma çubuğu gölge rengi */
    border-radius: 6px; /* Kaydırma çubuğu kenar yarıçapı */
}

    /* Kaydırma çubuğuna fare üzerine gelindiğinde */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Kaydırma çubuğu hover rengi */
    }