@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IdentityServer.Client3.Models.CookieInformationDto
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content custom-modal-border">
            <div class="modal-header custom-background-color custom-modal-border-none">
                <h5 class="modal-title custom-text-color" id="exampleModalLabel3">Claims</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom-background-color">
                <div style="overflow-x:auto;">
                    <table class="table table-bordered table-hover custom-table-preferences">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-bold custom-text-color">Claim Type</th>
                                <th scope="col" class="fw-bold custom-text-color">Claim Value</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var user in Model.CookieClaims)
                            {
                                <tr>
                                    <td class="fw-bold custom-text-color">@user.Key</td>
                                    <td class="fw-bold custom-text-color">@user.Value</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer custom-background-color custom-modal-border-none">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content custom-modal-border">
            <div class="modal-header custom-background-color custom-modal-border-none">
                <h5 class="modal-title custom-text-color" id="exampleModalLabel4">Authentication Properties</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom-background-color">
                <div style="overflow-x:auto;">
                    <table class="table table-bordered table-hover custom-table-preferences">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-bold custom-text-color">Authentication Property Key</th>
                                <th scope="col" class="fw-bold custom-text-color">Authentication Property Value</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var authProperties in Model.CookieAuthenticationProperties)
                            {
                                <tr>
                                    <td class="fw-bold custom-text-color">@authProperties.Key</td>
                                    <td class="fw-bold custom-text-color">@authProperties.Value</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer custom-background-color custom-modal-border-none">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>             
            </div>
        </div>
    </div>
</div>
