@{
    Layout = "~/Pages/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<main class="px-3">
    <h1>Third Client Application</h1>
    <p class="lead">This application created for IdentityServer Tutorial.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Please log in.</a>
    </p>
</main>