@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using IdentityServer.Client1.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model ProductDto

<table class="table table-bordered"> 
    <thead>
        <tr style="color:goldenrod">
            <th style="color:goldenrod">Name</th>
            <th style="color:goldenrod">Price</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var product in Model.Data)
        {
            <tr style="color:bisque">
                <th style="color:bisque">@product.Name</th>
                <th style="color:bisque">@product.Price</th>
            </tr>
        }
    </tbody>
</table>